:root {
  --containerbackground: rgba(255, 255, 255, 1);
  --borderprimary: rgba(111, 111, 111, 1);
  --textprimary: rgba(0, 0, 0, 1);
  --formtextsecondary: rgba(114, 114, 114, 1);
  --formtextprimary: rgba(0, 0, 0, 1);
  --actiontextdisabled: rgba(114, 114, 114, 1);
  --actiontextenabled: rgba(255, 255, 255, 1);
  --background-primary: rgba(255, 255, 255, 1);
  --bordertertiary: rgba(217, 217, 217, 1);
  --formbackgroundprimary: rgba(255, 255, 255, 1);
  --formborderfocus: rgba(24, 106, 255, 1);
  --formborderprimary: rgba(111, 111, 111, 1);
  --actionbackgrounddisabled: rgba(240, 240, 240, 1);
  --actionbackgroundenabled: rgba(24, 106, 255, 1);
  --bordersecondary: rgba(217, 217, 217, 1);
  --error: rgba(173, 40, 62, 1);
  --body-subhead-font-family: "SF Pro", Helvetica;
  --body-subhead-font-weight: 500;
  --body-subhead-font-size: 18px;
  --body-subhead-letter-spacing: 0px;
  --body-subhead-line-height: 24px;
  --body-subhead-font-style: normal;
  --body-footnote-font-family: "SF Pro", Helvetica;
  --body-footnote-font-weight: 500;
  --body-footnote-font-weight-light: 400;
  --body-footnote-font-size: 14px;
  --body-footnote-letter-spacing: 0px;
  --body-footnote-line-height: 20px;
  --body-footnote-font-style: normal;
  --input-string-font-family: "SF Pro", Helvetica;
  --input-string-font-weight: 400;
  --input-string-font-size: 16px;
  --input-string-letter-spacing: 0px;
  --input-string-line-height: 20px;
  --input-string-font-style: normal;
  --input-label-font-family: "SF Pro", Helvetica;
  --input-label-font-weight: 500;
  --input-label-font-size: 14px;
  --input-label-letter-spacing: 0px;
  --input-label-line-height: 20px;
  --input-label-font-style: normal;
  --button-label-font-family: "SF Pro", Helvetica;
  --button-label-font-weight: 500;
  --button-label-font-size: 16px;
  --button-label-letter-spacing: 0px;
  --button-label-line-height: 24px;
  --button-label-font-style: normal;
  --body-heading-font-family: "SF Pro", Helvetica;
  --body-heading-font-weight: 500;
  --body-heading-font-size: 18px;
  --body-heading-letter-spacing: 0px;
  --body-heading-line-height: 24px;
  --body-heading-font-style: normal;
}
